<section class="view about-me">
    <header class="view-header"><h1 class="view-title">O mnie</h1></header>
    <div class="container-flex wrap wall">
        <section class="col-xs12 col-m8 about-text">
            <h1>Hello!</h1>
            <p>Hello, my name is Adrian. I'm a young junior front-end developer.
                I have always been interested in computer science. I graduated in the field of Telecommunication
                with a degree in engineering. My adventure as front-end developer began several months ago.
                I try to learn something new every day and I use my free time to explore recent technologies.
                I am passionate about front-end technology as well as all the possibilities of development it
                offers. I am an ambitious and hard-working individual wishing to further my career as a front-end
                developer.</p>
            <div class="btn-container text-center">
                <a class="btn " href data-ng-click="view.changeView('/contact')">
                    <svg>
                        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                    </svg>
                    Pobierz CV
                </a>
            </div>
        </section>
        <div class="col-xs12 col-m4">
            <img class="author" src="images/adrianbury.jpg" alt="adrianbury">
            <ul class="about-me-list">
                <li>Imię: <span class="asw">Adrian</span></li>
                <li>Nazwisko: <span class="asw">Bury</span></li>
                <li>Wiek: <span class="asw">21</span></li>
                <li>Miejscowość: <span class="asw">Kraków</span></li>
            </ul>
            <ul class="social-link">
                <li>
                    <a target="_blank" href="https://github.com/addun">
                        <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/adrian.bury.3">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href ng-click="view.changeView('/contact')">
                        <i class="fa fa-envelope-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>