<h1>Home!!!</h1><section class="view front-page container-flex">
    <header class="col-xs12 view-header">
        <h1 class="logo">Tworzenie stron internetowych na miarę XXI wieku!</h1>
    </header>
    <div class="col-xs12">
        <a class="btn" href data-ng-click="view.changeView('/can-do')">
            <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
            </svg>
            Oferta
        </a>
        <a class="btn" href data-ng-click="view.changeView('/contact')">
            <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
            </svg>
            Kontakt
        </a>
    </div>

</section>
