<section class="view copyright">
    <header class="view-header">
        <h1 class="view-title">
            Prawa autorskie
        </h1>
    </header>
    <ul class="copyright-list">
        <li>
            Grafika wykorzysta na strone została stworzona przez <a href="http://www.freepik.com" target="_blank">Freepik.com</a>
        </li>
        <li>
            Muzykę do kącika muzycznego dostarcza <a href="http://www.bensound.com/"
                                                     target="_blank">bensound.com</a>
        </li>
    </ul>
    <p class="copyright-note">
        Strona stworzona przez Adrian Bury / {{currentYear}} / <i class="fa fa-copyright" aria-hidden="true"></i>
        Wszystkie
        prawa zastrzeżone
    </p>
</section>
